@import "tailwindcss";


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.gray_text{
    color: #a9aaab;
}

/* ========================== */
/* shared style */
/* ========================== */

/* button style */
.btn1{
    background: #F7E93F;
    background: linear-gradient(31deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    padding: 12px 16px;
    border-radius: 50px;
}

.btn2{
    color: #00FF88;
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius: 50px;
}

.green_glow{
    box-shadow: 0px 3px 27px 0px #00FF88;
}

.bounce_effect{
    display: inline-block;
    transition: transform 0.4s cubic-bezier(.34, 1.56, .64, 1);
}

.bounce_effect:hover {
    transform: scale(1.5);
}
.gradient{
    background: linear-gradient(31deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


body{
    max-width: 1600px;
    margin: 0 auto;
}



/* ===================== */

/* ===================== */

/* navbar */

#navbar{
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid #230E3D;
}

.ham{
    display: none;
}

/* hero banner */

#hero_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding-top: 101px;
    padding-bottom: 101px; */
    color: white;
    width: 100%;
    max-width: 1600px;
    max-height: 760px;
    margin: 0 auto;
    background-image: url('../assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#hero_img{
    position: relative;
    width: 100%;
    max-width: 550px;
    padding-top: 101px;
    /* padding-bottom: 101px; */
    /* top: 30px; */
}

.new_btn{
    padding: 8px 16px;
    color: black;
    background-color: #00FF88;
    border-radius: 50px;
    position: absolute;
    /* margin-left: 60px; */
    top: 25%;
    left: 65%;
    z-index: 3;
}

#circle_img{
    width: 100%;
    max-width: 350px;
    max-height: 350px;
    display: block;
    margin: 0 auto;
}

#mic_img{
    position: absolute;
    top: 60%;
    left: 50%;  
    transform: translate(-50%, -50%);
    width: 25%;
    max-width: 200px;
    height: auto;
    z-index: 2;
}

#hero_text{
    margin-top: 40px;
    margin-bottom: 101px;
}


/* ========================= */
/* about section */
/* ========================= */

.about_section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.about_info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
}

.about_section .about_text p, .about_info p{
    line-height: 1.25rem;
    color: #a9aaab;
    margin-bottom: 80px;
}

.about_info h1{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
}



/* ========================== */
/* Grid box */
/* ========================== */

.grid_section{
    justify-items: center;
    background-color: #230E3D;
    padding-bottom: 7.5rem;
}

.grid_section h1{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 7.5rem;
    padding-bottom: 2.5rem;
}

.grid_box{
    max-width: 1200px;
    display: grid;
    gap: 1.875rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid_section .grid_box .card{
    width: 100%;
    background-color: rgba(53, 17, 101, 0.4);
    color: white;
    border-radius: 2.5rem;
}

.card{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;      
    margin: 0 auto;
}

.card h3{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 16px 0 16px;
}

.card p{
    color:#a9aaab;
    line-height: 1.5rem;
    
}

.grid_box{
    color: white;
}

.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}

.grid_box{
    display: grid;
    gap: 30px;
    grid-template-areas: 
        "card1 card2 card2"
        "card1 card3 card3"
        "card4 card4 card5"
    ;
}



/* ========================== */
/* feature section */
/* ========================== */

.feature_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.5rem;
}

.feature_card {
    gap: 30px;
    color: white;
    max-width: 1200px;
}

.feature_card .ep{
    border-radius: 30px;
    background-color: #250D44;
}

.feature_card .ep h3{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 24px 24px 0;
}

.feature_card .ep p{
    line-height: 1.5rem;
    color: #a9aaab;
    padding: 12px 24px 12px;

}

.ep iframe{
    width: 100%;
    height: 210px;
    border-radius: 1rem;
}



/* ========================== */
/* host section */
/* ========================== */

.host{
    display: flex;
    flex-direction: column;
    align-items: center
}

.host h1{
    padding-bottom: 2.5rem;
}

.host_container{
    max-width: 1200px;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    color: #a9aaab;
    padding: 2.5rem;
    border-radius: 2.5rem;
}

.host_container img{
    /* width: 100%; */
    max-width: 200px;
    max-height: 200px;
}

.host_text{
    /* padding: 40px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;      
    margin: 0 auto;
}

.host_text p{
    line-height: 24px;
    max-width: 896px;
    padding-bottom: 1rem;
}

.host_text a{
    border: 1px solid #a9aaab ;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 50%; 
    object-fit: cover;
}


/* ========================= */
/* footer */
/* ========================= */

footer{
    width: 100%;
    height: 412px;
    background-image: url('../assets/footer-bg.png');
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
}

.footer_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

footer .footer_container .logo{
    font-size: 3.75rem;
    font-weight: 900;
    color: white;
    margin-top: 7.5rem;
    margin-bottom: 2rem;
    /* justify-self: */
}
.footer_links{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 2.5rem;
    margin: 0;
}


.footer_container .link_item{
    margin-top: 0;
    margin-bottom: 2rem;
    padding-right: 0;
}





/* ========================== */
/* responsiveness */
/* ========================== */

@media screen and (max-width:576px) {
    
    /* main{
        margin-right: 20px;
        margin-left: 20px;
    } */

    .grid_box, .feature_card{
        margin-left: 20px;
        margin-right: 20px;
    }


    #hero_img{
        width: 100%;
        max-width: 200px;
        margin-top: 32px;
        margin-bottom: 32px;
        /* padding-top: 0; */
    }

    .new_btn{
    /* padding: 8px 16px; */
    /* color: black; */
    /* background-color: #00FF88; */
    /* border-radius: 50px; */
    /* position: absolute; */
    /* margin-left: 60px; */
    top: 35%;
    left: 75%;
    /* z-index: 3; */
}

    #hero_text{
        margin-top: 0;
    }

    #mic_img{
    /* top: 65%; */
    /* left: 50%;   */
    transform: translate(-50%, -30%);
    width: 30%;
    max-width: 200px;
    height: auto;
    /* z-index: 2; */
}

    #links{
        display: none;
    }

    .subscribe{
        display: none;
    }

    .ham{
        display: flex;
    }

    .grid_section h1{
        text-align: center;
        margin: 0 auto;
    }



    .grid_box{
        /* gap: 30px; */
        grid-template-columns: 1fr;
        grid-template-areas: 
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
        ;

    }
     .card{
        width: 100%;
        padding: 24px;
    }

    .feature_card{
        flex-direction: column;
    }


    .about_info{
        grid-template-columns: repeat(2, 1fr);
    }


    .host_container{
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    .host_text{
        align-items: center;
        text-align: center;
    }

    .footer_links{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}