@import "tailwindcss";


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* ========================== */
/* shared style */
/* ========================== */

/* button style */
.btn1{
    background: #F7E93F;
    background: linear-gradient(31deg, rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    padding: 12px 16px;
    border-radius: 50px;
}

.btn2{
    color: #00FF88;
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius: 50px;
}




/* ===================== */

/* ===================== */

/* navbar */

#navbar{
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid #230E3D;
}

/* hero banner */

#hero_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 101px;
    padding-bottom: 101px;
    color: white;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url('../assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero_img{
    position: relative;
    width: 100%;
    max-width: 550px;
    
}

.new_btn{
    padding: 8px 16px;
    color: black;
    background-color: #00FF88;
    border-radius: 50px;
    position: absolute;
    /* margin-left: 60px; */
    top: 10%;
    left: 70%;
    z-index: 3;
}

#circle_img{
    width: 100%;
    max-width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#mic_img{
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    width: 25%;
    max-width: 200px;
    height: auto;
    z-index: 2;
}

#hero_text{
    margin-top: 40px;
    margin-bottom: 101px;
}





/* ========================== */
/* responsiveness */
/* ========================== */

